@charset "utf-8";
/* background image*/
body{
	margin:0;
	padding:0;
	background-size:cover;
	font-family:sans-serif;
	background-repeat:no-repeat;
	background-position:inherit;
	
	}
	/*login box*/
.loginbox{
	width:320px;
	height:420px;
	background:#000;
	color:rgb(8, 4, 4);
	top:50%;
	left:40%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	padding:70px 30px;
	/*background:transparent;*/
	background:#FF000000;
	margin-left: 160px;

	
	}
	/*user imange*/
.user{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:calc(50% - 50px);
	}	
	
h1{
	margin:0;
	padding:0 0 20px;
	text-align:center;
	font-size:40px;
    color: #000;
	
	}
	/*remove line space */
.loginbox p{
	margin:0;
	padding:0;
	font-weight:bold;
	}
	/*to extract the size*/
.loginbox input{
	width:100%;
	margin-bottom:20px;
	}
	
.loginbox input[type="text"], input[type="password"]
{
	border:none;
	border-bottom:1px solid rgb(5, 5, 5);
	background:transparent;
	outline:none;
	height:40px;
	color:rgb(248, 242, 242);
	font-size:16px;
	
	}
.loginbox input[type="submit"]
{
	border:none;
	outline:none;
	height:40px;
	background:#000;
	color:rgb(255, 255, 255);
	font-size:18px;
	border-radius:20px;
	
	}
.loginbox input[type="submit"]:hover
{
	cursor:pointer;
	background:rgb(2, 1, 1);
	color:rgb(255, 255, 255);
	}
	
.loginbox a{
	text-decoration:none;
	font-size:12px;
	line-height:20px;
	color:rgb(5, 5, 5);
	}